<%-include("../partials/header")%>

<h1>Welcome to the Election Result Checker</h1>
<nav>
    <ul>
        <li><a href="/pu-result">Polling Unit Result</a></li>
        <li><a href="/lgas">Local Government Result</a></li>
        <li><a href="/new">New Polling Unit Result</a></li>
    </ul>
</nav>

<%-include("../partials/footer")%>