<%-include("../partials/header")%>
    <h1>Polling Unit Result</h1>
    <form id="pollingUnitForm">
        <label for="pollingUnitInput">Enter Polling Unit ID:</label>
        <input type="text" id="pollingUnitInput" placeholder="8" required>
        <button type="submit">Get Result</button>
    </form>
    <div id="resultContainer">

    </div>

<script src="/home/js/pu.js"></script>
<%-include("../partials/footer")%>